html, body{
    overflow:hidden;
    user-select:none;
}
body{
    position:relative;
    margin:0;
    height:100vh;
    width:100vw;
    background:#2ecc71;
    font-family:"Baloo Paaji 2";
}
#start{
    position:relative;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
#lobby{
    font-size:1.6em;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#instruction{
    position:absolute;
    padding:0 3% 2% 3%;
    width:90%;
    color:#000;
    font-size:1.2em;
    background:#fff;
    top:50%;
    left:50%;
    transform:translate(-50%, 100%);
    border-radius:10px;
    transition:transform 0.4s ease-in;
}
#gameField, #dashBoard, #gameOver{
    display:none;
}
#gameOver{
    height:100vh;
    width:100vw;
    font-size:1.6em;
    color:#fff;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#dashBoard{
    position:absolute;
    width:100vw;
    justify-content:space-between;
    font-size:1.4em;
    color:#fff;
}
#gameField{
    position:relative;
    top:50%;
    left:0;
    transform:translateY(-50%);
    background:rgba(255,255,255,0.5);
}
#ball1, #ball2{
    position:absolute;
    height:20px;
    width:20px;
    transform:translate(-50%, -50%);
    background:#fff;
    clip-path:circle(50%);
}
.obstacles{
    position:absolute;
    height:20px;
    width:20px;
    transform:translate(-50%, -50%);
    background:#000;
}
.collectables{
    position:absolute;
    height:20px;
    width:20px;
    transform:translate(-50%, -50%);
    background:#fff;
}
